nav{
    /* background-color:white; */
    font-size: 20px;
    margin: 5px;
    border: 2px;
    border-style: double;
    padding: 5px;
    color: white;
    /* text-align:left; */
    display: inline-block;
    position: -webkit-sticky;
    float: top;
}
a.end{
    color: blue;
    position: relative;
    left: 950px;
    text-align: end;
}
.header{
    display: block;
    position: relative;
    color: black;
    background-color: aqua;
    grid-row: 1/1;
    grid-column: 1/4;
    /* border: 3px solid rgb(9, 241, 191); */
    text-align: center;
    font-size: 13px;
    /* block-size: 100px; */
}

 img{
    width: 80px;
    margin: 1px; 
    position: relative;
    right: 500px;
}
img.right{
    text-align: right;
    position: relative;
    left: 500px; 
}
.one{
    color: white;
    background-color: black;
    grid-column:1/1;
    grid-row: 2/2;
    background-image: url(Strawberry.jpg);
    background-position: 1000rem;
    /* display: block;
    block-size: 100px;
    margin: 20px;
    margin-right: 60em;
    position: relative;
    right: 10px;
    text-align: center;
    padding: 70px; */
}
.two{
    color: aqua;
    background-color: darkslategray;
    grid-row: 2/5;
    grid-column: 2/3;
    background-image:url("nature.jpg");
    background-position: 1111px
    /* display: block;
    block-size: 100px;
    margin: 20px;
    margin-right: 60rem;
    margin-left: 50em;
     padding: 50px;
    text-align: center;
    position: relative;
    right: 10px; */
}
.three{
    color: white;
    background-color:rgb(34, 4, 61);
    grid-column: 1/1;
    grid-row: 3/5;
    /* display: inline-block;
    block-size: 200px;
    margin: 20px;
    position: relative;
    text-align: center;
    padding: 70px;  */
}
.four{
    color: black;
    background-color: grey;
    grid-column: 3/4;
    grid-row: 2/2;
    /* display: inline-block;
    block-size: 100px;
    margin: 20px;
    margin-right: 60rem;
    margin-left: 50em;
    padding: 50px;
    text-align: center;
    position: relative;
    left: 10px;  */
}
.five{   color:white;
    background-color: palevioletred;
    grid-row: 3/3;
    grid-column: 3/4
    /* display: inline-block;
    block-size: 100px;
    margin: 20px;
    margin-right: 60rem;
    margin-left: 50em;
    padding: 50px;
    text-align: center;
    position: relative;
    left: 10px; */

}
section{
    color: aliceblue;
    background-color: rgb(211, 81, 81);
    grid-column: 3/4;
    grid-row: 4/4;
    /* block-size: 50px;
    padding: 30px;
    margin: 20px;
    position: relative;
    left: 10px;
    float: none; */
}
footer{
    background-color: black;
    grid-column: 1/4;
    grid-row: 5/-1;
} 
.container{
    display: grid;
    grid-template:repeat(3,10em)/repeat(3, 1fr);
    grid-template: 10em 10em 5em 1em 1em/ 1fr 2fr 1fr;
    /* grid-template-columns: 1fr 2fr 1fr; */
    /* grid-template-columns: 20% 40% 20% 20%; */
    /* grid-template-rows: 10em 5em;1em; */
    grid-gap:10px;
}
body{
    background-image: url()
}